doctype html

html
	head
		link(rel="stylesheet" type="text/css" href="discusion_casos_super.css")
		title Discusion de Casos con el Supervisor
	body
		h1 DISCUSION DE CASOS CON EL/LA SUPERVISOR/A
		article
			section#resume_de_la_sit
				form
					h2 Resumen de la Situacion:
					input(type="text")
			section#quien_es_afectado
				form
					h2 ¿Quien/es es/son la/s Persona/s Mas Afectada/s con la Situacion?:
					input(type="text")
			section#recomendacion_trabajador
				form
					h2 Recomendacion del/la Trabajador/a Social:
					input(type="text")
			section#recomendacion_supervisor
				form
					h2 Recomendaciones de/la Supervisor/a 
					input(type="text")