doctype html

html(lang="es")
	head
		link(rel="stylesheets" type="text/css" href="informe_de_cierre.css")
		title Informe de Cierre 
	body
		h1 INFORME DE CIERRE
		article
			section#Resumen_de_intervencion
				form
					h2 Resumen de Intervecion:
					input(type="text")
			section#ponderacion
				form
					h2 Ponderacion:
					input(type="text")
			section#logros
				form
					h2 Logros
					input(type="text")
			section#motivo_del_cierre
				form
					h2 Motivo del Cierre:
					input(type="text") 
			section#recomendaciones
				form
					h2 Recomendaciones:
					input(type="text")
