doctype html 

html(lang="es")
	head
		link(rel="stylesheet" type="text/css" href="nota_de_progreso2.css")
		title Nota de Progreso 2
	body 
		h1 NOTA DE PROGRESO 2
		article
			section
				form
					h4 Tipo de entrevista:
						input(type="checkbox" name="interv" value="")
						label(for="interv") Inicial
						input(type="checkbox" name="interv" value="")
						label(for="interv") Seguimiento
						input(type="checkbox" name="interv" value="")
						label(for="interv") Cierre
						input(type="checkbox" name="interv" value="")
						label(for="interv") Transferencia
						input(type="checkbox" name="interv" value="")
						label(for="interv") Llamada Telefonica
						input(type="checkbox" name="interv" value="")
						label(for="interv") Correo Electronico
						input(type="checkbox" name="interv" value="")
						label(for="interv") Encuentro Casual
			section
				form
					h4 Fecha de la Entrvista
					input(type="date")
		article
			section
				form
					h2 Resumen de Intervencion:
					input(type="text")
			section
				form
					h2 Acuerdos Tomados con el/la Participante:
					input(type="text")