doctype html
html(lang="es")
	head
		link(rel="stylesheet", type="text/css", href="test.css")
		title Entrevista Inicial
	body
		article
			section#datos_personales
				form
					p
						label(for="name")
						input
			section#composicion_familiar
				form
			section#motivo_de_consulta
				form
